/* Materialize CSS */
@import "variables";
@import "~materialize-css/sass/materialize";

/* CSS da aplicação */
body {
    background-color: $body-bg;
}

.rdias-content {
    background-color: #ffffff;
    margin-top: 2em;
    padding: 1em;
}

h4 {
    margin-top: 0;
}

/* label focus color */
.input-field input:focus + label {
    color: $primary-color !important;
}

/* label underline focus color */
.row .input-field input:focus {
border-bottom: 1px solid $primary-color !important;
box-shadow: 0 1px 0 0 $primary-color !important
}

/*It'll fix the select to show!*/
select {
    display: block
}